:root {
    --text: #fdf6e3;
}  
body {
    background-color: #002b36;
}
div.footerControls {
    background:rgba(88,110,117,0.9);
    z-index: 2;
}
input:hover, input:focus, select:hover, select:focus, 
button:hover, option, .click {
    border: 1px solid #fdf6e3;
    background-color: #839496;
}
button, option, input, select {
    color: var(--text);
    border: 1px solid rgba(88,110,117,0.9);;
}
img {
    filter: invert(1);
}
.tippy-backdrop {
    background:#3b4b50;
}
.tippy-content {
    color: var(--text);
}
#overlay {
    background-color: #073642;
}
.overlayContents {
    background-color: #002b36;
}
h1 {
    color: #93a1a1
}
p {
    color: #586e75
}