:root {
    --violet: #6c71c4;
}  
body {
    background-color: #002b36;
}
div.footerControls {
    background:rgba(0,0,0,0.8);
    z-index: 2;
}
input {
    color: var(--violet);
}
input:hover, input:focus {
    background:rgba(7,54,66,0.8);
}
select {
    color: var(--violet);
}
select:hover, select:focus {
    background:rgba(7,54,66,0.8);
    color: var(--violet);
}
option {
    color: var(--violet);
}
button {
    color: var(--violet);
}
button:hover {
    background:rgba(7,54,66,0.8);
    color: var(--violet);
}
img {
    filter: invert(1);
}
.tippy-tooltip.tippy-backdrop-theme {
    background:#000;
    color: var(--violet);
}
#overlay {
    background-color: #073642;
}
.overlayContents {
    background-color: #002b36;
}
h1 {
    color: #93a1a1
}
p {
    color: #586e75
}