:root {
    --text: #fdf6e3;
}
body {
    background-color: var(--text);
}
div.footerControls {
    background:rgba(0, 0, 0, 0.7);
    z-index: 2;
}
button, option, input, select {
    color: var(--text);
    border: 1px solid rgba(0, 0, 0, 0.15);
}
input:hover, input:focus, select:hover, select:focus, 
button:hover, option, .click {
    border: 1px solid #fdf6e3;
    background:rgba(50, 50, 50, 0.8);
}
.tippy-backdrop {
    background-color: #231F20;
}
.tippy-content {
    color: var(--text);
}
#overlay {
    background-color: var(--text);
}
.overlayContents {
    background-color: #eee8d5;
}
h1 {
    color: #586e75
}
p {
    color: #93a1a1
}