:root {
    --solar-light: #fdf6e3;
}
body {
    background-color: var(--solar-light);
}
div.footerControls {
    background:rgba(0,0,0,0.7);
}
input {
    color: var(--solar-light);
}
input:hover, input:focus {
    background-color: var(--solar-light);
    color: rgba(0,0,0,0.6);
}
select {
    color: var(--solar-light);
}
select:hover, select:focus {
    background-color: var(--solar-light);
	color: rgba(0,0,0,0.6);
}
option {
    color: #3b321a;
}
button {
    color: var(--solar-light);
}
button:hover {
    background-color: var(--solar-light);
	color: rgba(0,0,0,0.6);
}
.tippy-tooltip.tippy-backdrop-theme {
    background:rgba(0,0,0,0.7);
    color: var(--solar-light);
}
#overlay {
    background-color: var(--solar-light);
}
.overlayContents {
    background-color: #eee8d5;
}
h1 {
    color: #586e75
}
p {
    color: #93a1a1
}