html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { 
	height: 100%;
}
body { 
	min-height: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: #fdf6e3;
}
#wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
}
img.resize {
	max-width: 50%;
	height: auto;
	background-color: transparent;
	border: none;
}
div.footerControls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	width: 100%;
	position: fixed;
	bottom: 0;
	background:rgba(0,0,0,0.5);

}
div.footerPageOptions, div.footerSettings {
	display: flex;
	flex-direction: row;
}
input, select {
	text-align: center;
	height: 100%;
	background: none;
	color: #fdf6e3;
}
button {
	background:none;
	color: #fdf6e3;
	border-radius: 4px;
	box-shadow: none;
}
button:hover {
	background-color: #fdf6e3;
	color: rgba(0,0,0,0.5);
}
