
.icon-left-open-outline:before { content: '\e800'; } /* '' */
.icon-right-open-outline:before { content: '\e801'; } /* '' */
.icon-moon:before { content: '\e803'; } /* '' */
.icon-zoom-in-1:before { content: '\e807'; } /* '' */
.icon-zoom-out-1:before { content: '\e808'; } /* '' */