@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

